<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product - Pharmacy Store</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
<%= errors %>
<div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
  <h2 class="text-2xl font-bold mb-8 text-center">Create New Product</h2>
  <form action="/add" method="post">
    <div class="mb-4">
      <label for="email" class="block text-sm font-medium text-gray-700">Nama Produk:</label>
      <input type="text" id="email" name="name" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required>
    </div>
    <div class="mb-4">
      <label for="password" class="block text-sm font-medium text-gray-700">Deskripsi:</label>
      <input type="text" id="password" name="description" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required>
    </div>
    <div class="mb-4">
      <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Price:</label>
      <input type="number" id="phoneNumber" name="price" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" required>
      <% if (errors) { %>
       <p style="color: red;"><%= errors %></p>
      <% } %>
    </div>
    <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition duration-300">Create Account</button>
  </form>
</div>

</body>
</html>
